*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}

.photo .one h1{
    opacity: 0;
    transition: 1s all;
    position: sticky;
}
.photo .one:hover h1{
    opacity: 1;
}
.photo .one:hover img{
    opacity: 0.3;
    background-color: gray;
    transition: 1s all;
}

.home .nav .nav-links ul li:hover:not(.resume) a{
    font-size: 30px;
    border:3px solid rgb(86, 180, 180);
    padding: 12px;
    border-radius: 22px;
    transition: 0.5s all;
}

.home .nav .nav-links ul li:hover a{
    font-size: 30px;
    border:3px solid rgb(86, 180, 180);
    padding: 20px;
    border-radius: 50%;
    transition: 0.5s all;
    height:200px;
    width:200px;
}


